#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_bitcoin
#build/bitcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_bitcoin)

DEB_INSTALL_EXAMPLES_x6coind += debian/examples/*
DEB_INSTALL_MANPAGES_x6coind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix x6coind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f x6coin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake x6coin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_x6coin
	src/test_x6coin

# Ensure wrapper is set executable
binary-post-install/x6coind:
	chmod +x $(cdbs_curdestdir)usr/bin/x6coind
binary-post-install/x6coin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/x6coin-qt
