src/*.exe
src/x6coin
src/x6coind
src/test_x6coin
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.x6coin
#compilation and Qt preprocessor part
*.qm
Makefile
x6coin-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build

!src/leveldb/Makefile
